# 配置示例 /etc/vsftpd/vsftpd.conf

# 这个配置文件并不是详细的配置项。详细配置查看vsftpd.conf.5 manual

# 是否允许匿名访问
anonymous_enable=YES

# 是否允许本地用户登录
# 如果被激活，在 /etc/passwd 里的普通用户帐号可以被用来登录。要使非匿名登录包括虚拟用户登录生效必须激活此选项。
local_enable=YES

# 允许写入
write_enable=YES

# 对本地用户的文件生成的权限掩码
local_umask=022

# 允许匿名用户/虚拟用户上传文件，write_enable必须启用并且匿名ftp用户在要上传的目录下有写权限
#anon_upload_enable=YES

# 允许匿名用户创建目录，write_enable 必须启用且用户有父目录下有写权限
#anon_mkdir_write_enable=YES

# 如果被激活，当 FTP 服务器的用户第一次进入一个新目录后将显示信息。
# 默认状态下，会在这个目录下查找 .message 文件，但是也可以通过设置 message_file 选项来修改它
dirmessage_enable=YES

# 上传或下载记录日志
xferlog_enable=YES

# 启用FTP数据端口的连接请求
connect_from_port_20=YES

# 可以给上传的匿名文件(匿名用户的文件)指定所属用户，不推荐指定root
# 指定的用户必须在系统中存在
#chown_uploads=YES
#chown_username=whoever

# 日志文件位置
#xferlog_file=/var/log/xferlog

# 是否使用标准的ftpd xferlog日志文件格式
xferlog_std_format=YES

# 设置空闲的用户会话中断时间,默认是10分钟
#idle_session_timeout=600

# 设置数据连接超时时间,默认是120秒.
#data_connection_timeout=120

# 推荐在系统上定义唯一用户 ，ftp服务器可以将其作为完全隔离的非特权用户使用。
#nopriv_user=ftpsecure

# 如果启用，服务器将认可异步AROE请求 不安全。
#async_abor_enable=YES

# 是否允许使用ASCII格式来上传和下载文件
# 默认ftp服务器会忽略ASCII模式的请求，因为不安全，比如ASCII模式的SIZE命令可能存在dos攻击的风险
#ascii_upload_enable=YES
#ascii_download_enable=YES

# 登录banner
#ftpd_banner=Welcome to blah FTP service.

# 如果激活，要提供匿名用户的 e-mail 表以拒绝以这些用户。
# 默认状态下，包含这张表的文件是 /etc/vsftpd.banned_emails ，可以通过设置 banned_email_file 来修改它
#deny_email_enable=YES
# (default follows)
#banned_email_file=/etc/vsftpd/banned_emails

# 如果被设置成 YES ，本地用户在登录后将被锁定在其的 home 目录下。
# 安全风险：如果使用chroot，确保用户没有访问顶级目录的权限
# 也就是如果启用了 只有chroot_list文件中配置的用户可以从其home目录切换到其他目录
#chroot_local_user=YES
#chroot_list_enable=YES
# (default follows)
#chroot_list_file=/etc/vsftpd/chroot_list

# 当被激活，这个设置允许使用“ ls -R ”命令
# 一般不激活 防止内容过多时I/O操作数据量太大
#ls_recurse_enable=YES

# 如果被激活， vsftpd 将运行在独立（ standalone ）模式下。
# 这就意味着 vsftpd 不可以从 inetd 之类的服务中启动。相反， vsftpd 直接执行一次后，它自己将会负责监听和处理连接请求。
listen=NO

# 类似于 listen 参数，只不过 vsftpd 将监听 IPv6 的套接字而不是 IPv4 的。这个参数与 listen 参数是互斥的。
listen_ipv6=YES

# 设置PAM认证服务的配置文件名称,该文件存放在/etc/pam.d/目录下
pam_service_name=vsftpd
# 用户列表中的用户是否允许登录FTP服务器,默认是不允许
userlist_enable=YES
# 使用tcp_wrqppers作为主机访问控制方式
tcp_wrappers=YES