[mysqld]
datadir=/data/mysql/data
socket=/data/mysql/data/mysql.sock
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

[mysqld_safe]
log-error=/data/mysql/log/mysql.log
pid-file=/data/mysql/run/mysql.pid

[client]
socket=/data/mysql/data/mysql.sock

!includedir /etc/my.cnf.d